<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="logo-apple"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Brand Name</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="home-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="people-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Customers</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="chatbubble-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Messages</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="help-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Help</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="settings-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Settings</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Password</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <!-- <ion-icon name="log-out-outline"></ion-icon> -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11.6 11C11.6 10.448 11.152 10 10.6 10C8.945 10 5.655 10 4 10C3.448 10 3 10.448 3 11V20C3 20.552 3.448 21 4 21H10.6C11.152 21 11.6 20.552 11.6 20C11.6 17.908 11.6 13.092 11.6 11ZM21 17C21 16.448 20.552 16 20 16H14C13.462 16 13 16.477 13 17V20C13 20.552 13.448 21 14 21H20C20.552 21 21 20.552 21 20V17ZM21 4C21 3.448 20.552 3 20 3C18.463 3 15.537 3 14 3C13.448 3 13 3.448 13 4V13.6C13 14.152 13.448 14.6 14 14.6H20C20.552 14.6 21 14.152 21 13.6C21 11.406 21 6.194 21 4ZM11.6 4C11.6 3.448 11.152 3 10.6 3C8.945 3 5.655 3 4 3C3.448 3 3 3.448 3 4V7.6C3 8.152 3.448 8.6 4 8.6H10.6C11.152 8.6 11.6 8.152 11.6 7.6C11.6 6.583 11.6 5.017 11.6 4Z" fill="white"/>
                            </svg>
                    </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <!-- <ion-icon name="menu-outline"></ion-icon> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                    <path d="M1.91492 1.18616H20.1277M1.91492 8.01594H20.1277M1.91492 14.8457H20.1277" stroke="black" stroke-width="2.2766" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <!-- <ion-icon name="search-outline"></ion-icon> -->
                </label>
            </div>

            <div class="user">
                <img src="assets/imgs/customer01.jpg" alt="">
            </div>
        </div>

        <!-- ======================= Cards ================== -->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1,504</div>
                    <div class="cardName">Daily Views</div>
                </div>

                <div class="iconBx">
                    <!-- <ion-icon name="eye-outline"></ion-icon> -->
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">Sales</div>
                </div>

                <div class="iconBx">
                    <!-- <ion-icon name="cart-outline"></ion-icon> -->
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">284</div>
                    <div class="cardName">Comments</div>
                </div>

                <div class="iconBx">
                    <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
                </div>
            </div>

            <div class="card">
                <div>
                    <div class="numbers">$7,842</div>
                    <div class="cardName">Earning</div>
                </div>

                <div class="iconBx">
                    <!-- <ion-icon name="cash-outline"></ion-icon> -->
                </div>
            </div>
        </div>

        <!-- ================ Order Details List ================= -->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Orders</h2>
                    <a href="#" class="btn">View All</a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>

                        <tr>
                            <td>Dell Laptop</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>

                        <tr>
                            <td>Apple Watch</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>

                        <tr>
                            <td>Addidas Shoes</td>
                            <td>$620</td>
                            <td>Due</td>
                            <td><span class="status inProgress">In Progress</span></td>
                        </tr>

                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>

                        <tr>
                            <td>Dell Laptop</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>

                        <tr>
                            <td>Apple Watch</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>

                        <tr>
                            <td>Addidas Shoes</td>
                            <td>$620</td>
                            <td>Due</td>
                            <td><span class="status inProgress">In Progress</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- ================= New Customers ================ -->
            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recent Customers</h2>
                </div>

                <table>
                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>David <br> <span>Italy</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>Amit <br> <span>India</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>David <br> <span>Italy</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>Amit <br> <span>India</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>David <br> <span>Italy</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>Amit <br> <span>India</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>David <br> <span>Italy</span></h4>
                        </td>
                    </tr>

                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>Amit <br> <span>India</span></h4>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>